@font-face {
  font-family: "iconfont"; /* Project id 4134910 */
  src: url('iconfont.woff2?t=1698303856445') format('woff2'),
       url('iconfont.woff?t=1698303856445') format('woff'),
       url('iconfont.ttf?t=1698303856445') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e61b";
}

.icon-IMAGE:before {
  content: "\e66b";
}

.icon-TIFF:before {
  content: "\e66c";
}

.icon-JPEG:before {
  content: "\e66d";
}

.icon-GIF:before {
  content: "\e66f";
}

.icon-BMP:before {
  content: "\e670";
}

.icon-SVG:before {
  content: "\e671";
}

.icon-DOC:before {
  content: "\e672";
}

.icon-DOCX:before {
  content: "\e673";
}

.icon-XLS:before {
  content: "\e674";
}

.icon-XLSX:before {
  content: "\e675";
}

.icon-PPTX:before {
  content: "\e676";
}

.icon-WPS:before {
  content: "\e677";
}

.icon-WT:before {
  content: "\e678";
}

.icon-ET:before {
  content: "\e679";
}

.icon-MP4:before {
  content: "\e67c";
}

.icon-TXT:before {
  content: "\e67e";
}

.icon-WPT:before {
  content: "\e67f";
}

.icon-DPS:before {
  content: "\e680";
}

.icon-DPT:before {
  content: "\e681";
}

.icon-ETT:before {
  content: "\e682";
}

.icon-OTHER:before {
  content: "\e69a";
}

.icon-FLV:before {
  content: "\e69e";
}

.icon-PNG:before {
  content: "\e69f";
}

.icon-XML:before {
  content: "\e6a0";
}

.icon-TIF:before {
  content: "\e6a1";
}

.icon-EXCEL:before {
  content: "\e6a2";
}

.icon-PPT:before {
  content: "\e6a3";
}

.icon-WORD:before {
  content: "\e6a4";
}

.icon-JPG:before {
  content: "\e6a5";
}

.icon-DOT:before {
  content: "\e7c0";
}

.icon-PS:before {
  content: "\e7c1";
}

.icon-OFD:before {
  content: "\e7c2";
}

.icon-RTF:before {
  content: "\e7c3";
}

.icon-XSD:before {
  content: "\e7c4";
}

.icon-HTML:before {
  content: "\e7c5";
}

.icon-HTML1:before {
  content: "\e7c6";
}

.icon-GD:before {
  content: "\e7c7";
}

.icon-GIFF:before {
  content: "\e7c8";
}

.icon-SEP:before {
  content: "\e7c9";
}

.icon-DWG:before {
  content: "\e7ca";
}

.icon-CEBX:before {
  content: "\e7cb";
}

.icon-CEB:before {
  content: "\e7cc";
}

.icon-ZIP:before {
  content: "\e7e9";
}

.icon-PDF:before {
  content: "\e7ea";
}

.icon-a-ziyuan1:before {
  content: "\e7eb";
}

.icon-JASPER:before {
  content: "\e7ec";
}

.icon-yunshangchuan_o:before {
  content: "\ebb3";
}

.icon-shangchuan:before {
  content: "\e615";
}

.icon-yulan:before {
  content: "\e655";
}

.icon-xiazai:before {
  content: "\e652";
}

.icon-tianqi:before {
  content: "\e61a";
}

.icon-quanping:before {
  content: "\e607";
}

.icon-icon-test:before {
  content: "\e633";
}

.icon-icon-test1:before {
  content: "\e634";
}

.icon-icon-test3:before {
  content: "\e650";
}

.icon-bianji:before {
  content: "\e603";
}

.icon-ashbin:before {
  content: "\e665";
}

.icon-elipsis:before {
  content: "\e66e";
}

.icon-navigation:before {
  content: "\e67a";
}

.icon-refresh:before {
  content: "\e67b";
}

.icon-setting:before {
  content: "\e67d";
}

.icon-arrow-up-filling:before {
  content: "\e688";
}

.icon-arrow-down-filling:before {
  content: "\e689";
}

.icon-arrow-left-filling:before {
  content: "\e68a";
}

.icon-arrow-right-filling:before {
  content: "\e68b";
}

.icon-tongzhi:before {
  content: "\e69b";
}

